<div class="center hero-unit">
<%= flash[:notice] if flash[:notice] %>
  <h1>Medicine</h1>
  <h2>
    Select the type of dependence:
    <ul>
 		<li><%= link_to "Alcohol adicted",   new_alcohol_path %></li>
      	<li><%= link_to "Drugs adicted", new_drug_path %></li>
      	<li><%= link_to "Alcohol & Drugs adicted", new_alcohol_drug_path %></li>
    </ul>
  </h2>
</div>



